body {
    max-width: 1280px;
    margin: 10px auto;
    font-size: 30px;
    color: #1f1b18fb;
    max-height: max-content;
    font-family: 'Roboto Slab', serif;
}
  
main {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(220, 246, 250);
    height: 350px;
    
}

img {
    float: right;
    height: 350px;
    border: 1px solid #43474f;
    padding: 3px;
    
}

h1,
h2 { 
    margin: 0;
    padding: 1rem; 
} 

a { 
    color: rgb(51, 1, 1);
}
  
h1,
footer {
    background-color: #0f77b3;
    color: white;
    text-align: center;
}
  
p { 
    margin: 0;
    padding: 1rem;
}


