@media only screen and (min-width: 720px){
    header {
        display: flex;
        align-content: left;
        justify-content: left;
        align-items: left;
    } 
   
    #logo {
        display: block;
        min-width: 15%;
        display: block;
    }
    .navigation {
        display: flex;
        flex-direction: row;
    }
    
    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: white;
    }

    nav {
        margin: 0 auto;
        max-width: 100%;
        list-style: none;
        justify-content: flex-start;
    }

    nav li a {
        display: block;
        padding: 10px;
    }

main { 
    width: 80%;
    margin-top: 1em;
}


/*for weather summary*/
.weather-summary {
    background-color: rgba(229, 235, 233, 0.8);
    border: 1px solid #024430;
    border-radius: 1em;
    max-height: 30%;
}

/*for forecast table*/
.fiveDay {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #024430;
    margin: 1em;
}
.forecast-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #010b3f;
    text-align: center;
    color: #FFFFFF;
    background-color: #107bf5;
    font-family: "Roboto", sans-serif;
}

.forecast-label {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.flex-col {
    flex: 1 1 auto;
    text-align: center;
    border-right: 1px solid #010b3f;
}

.flex-col:nth-last-child(1)  {
    border-right: 0;
}

.flex-col img {
    max-width: 70px;
}

/*for article section*/
.article {
    width:100%;
    margin: 0 auto;
    border: 1px solid #010b3f;
    padding: 0 1em;
}
.article-inner {
    display: flex;
    padding-left: 1em;
}

.article-text {
    max-width: 80%;
    font-family: 'Roboto', sans-serif;
}
.article-img {
    width: 400px; 
  height: 200px; 
  grid-column: 3 / 5;
  grid-row: 4 / 4;
  margin: 1em 2em;
}


.socials {
    grid-column: 3 / 4;
    grid-row: 4 / 4;
    display: flex;
}
}