@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Stoke&display=swap');

body {
    background-image: url("../imgFile/weather.jpg");
    background-size: cover;
    font-size: larger;
    
}

nav {
    background-color: #024430;
    width: 100%;
    line-height: 3em;
}

.navigation {
    padding-inline-start: 0px;
}

nav li {
    display: none;
}

.navigation li:first-child {
    display: block;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: larger;
}

nav ul li {
    text-align: center;
    
}

nav ul li a {
    padding: 0.5em;
}

nav ul li a:hover {
    background-color: #FFFFFF;
    color:#024430;
}  

.responsive li{
    display: block;
}
#logo-text, #logo-description {
    padding: 0px;
    margin-top: 40px;
    margin-left: 80px;
    text-align: left;
    background: none;
    color: #FFFFFF;
}

#logo-text {
    font-size: 4vw;
}


h1, h2, h3, h4 {
    margin: 0px;
    padding: 3px;
    font-family: 'Stoke', serif;
    
}


#logo img{
    float: left;
    display: block;
    max-width: 150px;  
}

main {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(250, 250, 250, 0.5);
    height: fit-content;
    border: 2px solid rgb(53, 52, 52);
}

main p, a {
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
}

main .section {
    border: 1px dashed rgb(53, 52, 52);
    margin: 0.4em 0;
}

footer {
    background-color: #024430;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

