body {
    max-width: 960px;
    margin: 10px auto;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    color: #ec134a;
  }
  
  a {
    color: rgb(18, 82, 6);
  }
  
  h1,
  footer {
    background-color: #c29009;
    color: white;
  }
  
  main {
    height: 350px;
    background-color: rgb(250, 219, 173);
  }
  
  h1,
  h2{
    font-family: 'Secular One', sans-serif;
    margin: 0;
    padding: 1rem;
    
  }
  
  p {
    margin: 0;
    padding: 1rem;
  }
  
  img {
    float: right;
    height: 350px;
    border-radius:50px 50px 50px 50px;
  }
  