@media only screen and (min-width:1100px){
    nav a {
        font-size: 1.5em;
    }

    body {
        background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?cs=srgb&dl=pexels-no-name-66997.jpg&fm=jpg");
        background-position: bottom;
        font-size: 1.5rem;
    }

    #logo-text {
        font-size: 4rem;
    }
    
    #logo-description {
        font-size: 3rem;
    }

    nav li a {
        font-size: 1em;
    }

    #logo {
        min-width: 180px;
    }

    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr;
    }


}