body {
    max-width: 1280px;
    margin: 10px auto;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #1f1b18fb;
}
  
main {
    height: 350px;
    background-color: rgb(220, 246, 250);
    
}

img {
    float: right;
    height: 350px;
    border: 1px solid #43474f;
    padding: 3px;
    
}
h1,
h2,h3,h4 {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 1rem; 

} 

a {
    color: rgb(19, 12, 12);
}
  
h1,
footer {
    background-color: #0f77b3;
    color: #ffffff;
    text-align: center;
}
  
p {
    margin: 0;
    padding: 1rem;
}


