.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

section {
    display: block;
    border: 1px solid rgb(26, 25, 25);
  
    text-align: center;
    padding: 1rem;
    background-color: #4ac56f;
}

img {
    width: 80%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #888;
    border: 1px solid black;
    padding: 5px;
    background: white;
}

h2 {
    text-shadow: 3px 3px 3px #888;
}

@media only screen and (min-width:600px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:1200px){
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}